.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    color: white;
    height: 98.4vh;
    width: 99.2vw;
  }
  
  .welcome {
    display: flex;
    background-color: #2BCEC1;
    padding: 20px;
    grid-column: 1/4;
    font-size: 30px;
    align-items: center;
    justify-content: center;
  }

  .leftTitle{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: #1B1B1B;
    padding: 60px;
  }

  .middleTitle{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #1B1B1B;
    padding: 60px;
  }

  .rightTitle{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: #1B1B1B;
    padding: 60px;
  }